@import '@/styles/variables';

.container {
  overflow: hidden;
  // margin: -96px 0 0;
  margin: 0 0 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 100%;
  }
}

//
// Hero
//

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 120px 0 0;
  background: $background--red;

  @media screen and (max-width: 1024px) {
    padding: 0 0 0;
  }

  // Video
  & .video {
    height: 720px;
    width: 1440px;

    @media screen and (max-width: 1280px) {
      // width: calc(100% - 40px);
      width: 1280px;
      height: 640px;
    }

    @media screen and (max-width: 1080px) {
      // width: calc(100% - 40px);
      width: 1080px;
      height: 540px;
    }

    @media screen and (max-width: 800px) {
      // width: calc(100% - 40px);
      width: 800px;
      height: 400px;
    }

    @media screen and (max-width: 640px) {
      // width: calc(100% - 40px);
      width: 720px;
      height: 360px;
    }

    @media screen and (max-width: 400px) {
      // width: calc(100% - 40px);
      width: 640px;
      height: 320px;
    }

    & div {
      // box-shadow: 0px 24px 160px rgba(0, 0, 0, 0.16);
      // box-shadow: 0px 24px 160px rgba(0, 0, 0, 0.24);
      box-shadow: 0px 24px 160px rgba(0, 0, 0, 0.32);
      // border-radius: 4px;
      border-radius: 2px;
      overflow: hidden;
      background-color: black;
    }

    & video {
      // width: 100%;
      // height: auto;
      width: auto;
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  // Title
  & .title {
    font-weight: 700;
    font-size: 96px;
    line-height: 88px;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 24px 0 40px;
    color: $color--light-100;
    width: calc(100% - 20px);

    @media screen and (max-width: 1024px) {
      margin: 24px 0 40px;
    }

    @media screen and (max-width: 1020px) {
      font-size: 80px;
      line-height: 72px;
      margin: 24px 0 40px;
    }

    @media screen and (max-width: 767px) {
      font-size: 56px;
      line-height: 52px;
      margin: 24px 0 40px;
    }

    @media screen and (max-width: 480px) {
      font-size: 44px;
      line-height: 40px;
      margin: 24px 0 40px;
    }

    @media screen and (max-width: 400px) {
      font-size: 40px;
      line-height: 40px;
      margin: 16px 0 40px;
    }
  }

  & .title,
  & .text {
    text-align: center;
  }

  & .text {
    background-color: $color--light-100;
    padding: 64px 0 48px;
    width: 100%;

    @media screen and (max-width: 800px) {
      padding: 64px 0 48px;
    }

    @media screen and (max-width: 767px) {
      padding: 48px 0 32px;
    }

    @media screen and (max-width: 480px) {
      padding: 32px 0 24px;
    }

    & p {
      // font-weight: 500;
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      margin: 0 auto 40px;
      // color: $color--dark-700;
      color: $color--dark-500;
      width: min(880px, calc(100% - 40px));

      @media screen and (max-width: 768px) {
        font-size: 26px;
        line-height: 32px;
        margin: 0 auto 32px;
      }

      @media screen and (max-width: 480px) {
        font-size: 20px;
        line-height: 28px;
        margin: 0 auto 28px;
        width: min(880px, calc(100% - 20px));
      }

      & strong {
        font-weight: 700;
        // font-weight: 500;
        // color: $color--red-500;
        // color: $color--dark-900;
        color: $color--dark-700;
      }
    }
  }
}
