@import '@/styles/variables';

.animate {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  white-space: nowrap;

  @media screen and (max-width: 767px) {
    height: 64px;
  }

  @media screen and (max-width: 480px) {
    height: 56px;
  }

  @media screen and (max-width: 400px) {
    height: 48px;
  }
}
