@import '@/styles/variables';

.footer {
  width: 100%;

  & .green {
    position: relative;
    width: 100%;
    padding: 64px 0;
    background: radial-gradient(
        69.49% 147.04% at 50% 122.22%,
        #f4ffb1 7.39%,
        rgba(252, 255, 112, 0) 100%
      ),
      radial-gradient(90.74% 187.69% at -5.08% 9.63%, #44c019 0%, rgba(254, 148, 148, 0) 100%),
      radial-gradient(89.49% 173.29% at 99.24% 32.72%, #2bd70f 0%, rgba(255, 0, 0, 0) 100%), #ffffff;

    & button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 14px 24px;
      color: $color--light-100;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
      background-color: $color--red-500;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
      border-radius: 999px;
      transition: color 0.3s, background-color 0.3s;

      @media screen and (max-width: 480px) {
        font-size: 18px;
      }

      &:hover {
        cursor: pointer;
        background-color: $color--red-600;
      }

      &:focus-within {
        box-shadow: 0 0 0 4px lightgreen;
      }

      & span {
        pointer-events: none;
        padding: 0 4px;
      }

      & svg {
        pointer-events: none;
        margin-left: 8px;

        @media screen and (max-width: 480px) {
          width: 22px;
        }
      }
    }
  }

  & .details {
    width: min(1420px, calc(100% - 40px));
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 0;

    & .details--left,
    & .details--right {
      width: 240px;
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 480px) {
        width: auto;
      }
    }

    & .details--left {
      justify-content: flex-start;
    }

    & .details--right {
      justify-content: flex-end;
    }

    & span {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: $color--dark-900;

      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }

    .made-in--desktop {
      //
      display: initial;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .made-in--mobile {
      display: none;

      @media screen and (max-width: 767px) {
        display: initial;
      }
    }
  }
}
